{% extends "main.html" %}

{% block title %}
    EDA Analysis
{% endblock %}

{% block content %}
<div class="page-header section-empty" style="padding-top: 0px !important;" >
    <div class="container">
      <div class="row ">
        <div class="text-center">
        <img src="static/images/chart.png"  alt="">
      </div>
        <div class="col-lg-12 text-center">
          <h1 class=" h2 mb-3">
            <span>Exploratory Data Analysis</span>
          </h1>
         
        </div>
      </div>
    </div>
  </div>
  <div >
    <div class="container">
      <div class="row d-flex justify-content-center gy-5 gx-4 g-xl-5">
        <div class="col-lg-10">

          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Sample Images
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\sample-imgs.png"  width="770" height="400">
                </div>
            
                
            </div>
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Sample Images Visualization
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Sample Images Visualization.png"  width="770" height="400">
                   <div class="mb-2"></div>
                  <img src="static\eda-analysis\Sample Images Visualization2.png" class="w-100 h-auto rounded" alt="Image 2">
                  <div class="mb-2"></div>
                  <img src="static\eda-analysis\Sample Images Visualization3.png" class="w-100 h-auto rounded" alt="Image 2">
                </div>
            
                
            </div>
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Image Size Distribution
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Image Size Distribution.png"  width="770" height="400">
                </div>
            
               
            </div>
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Distribution of Samples per Writer
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Distribution of Samples per Writer.png"  width="770" height="400">
                </div>
            
                
            </div>
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Heatmap of Writer Sample Distribution
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Heatmap of Writer Sample Distribution.png"  width="770" height="400">
                </div>
            
               
            </div>
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Pixel Intensity Distribution
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Pixel Intensity Distribution.png"  width="770" height="400">
                </div>
            
               
           
          </article>
        </div>

        <div class="col-lg-10">
          <article class="card  h-100 border-0 bg-transparent">
            <div class="card-body text-center">
              <h4 class="mb-3 post-title">
                Box Plot of Image Dimensions
              </h4>
                <div class="post-image position-relative mb-2">
                  <img class="w-100 h-auto rounded" src="static\eda-analysis\Box Plot of Image Dimensions.png"  width="770" height="400">
                </div>
            
                
            </div>
           
          </article>
        </div>
      </div>

       
      
    </div>
  </div>
{% endblock %}