{% extends "main.html" %}

{% block title %}
    History
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">
            <span>Your History</span>
          </h2>
        </div>
      </div>
      
      <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Text</th>
                <th scope="col">Accuracy</th>
              </tr>
            </thead>
            <tbody>
              {% for data in datas %}
              <tr>
                <td><img src="{{data[1]}}" alt="{{data[2]}}" srcset="" width="50" height="50"></td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}%</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
  </section>
{% endblock %}