{% extends "main.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-11 mx-auto text-center position-relative">
    <h1 class="text-dark mb-0">Welcome to Our AI CNN Model</h1>
    <p>Discover our latest model that can help you detect and extract text from Handwritten images</p>
    
   
    <div>
        <img src="static/images/handwriten.png" alt="" srcset="">
    </div>  
    <h2>HandWriting Recognition</h2>
    <p>Extract text easily from images with HandWritten images</p>
    {% if session['loginid'] %}
    <a href="{{ url_for('ocrHandwriting') }}" class="btn btn-primary box">Try It</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="btn btn-primary box">Login & Try</a>
    {% endif %}
</div>
{% endblock %}