<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwriting Recognition</title>
    <link rel="stylesheet" href="static\css\styles.css">
    <link rel="stylesheet" href="static\css\header.css">
</head>

<body>
    <div class="container">

        <nav>
            <div id="logo">Handwriting Recognition</div>
            
            <div id="links">
                <a href="/">Home</a>
                <a href="/handwriting-ocr">Handwriting OCR</a>
                <a href="/eda-analysis">EDA Analaysis</a>
            </div>
        </nav>
    
        <!-- Hero Section -->
        <section class="hero">
            <img src="static\images\pen.png" alt="Pen Logo" class="clg-logo">
            <h1>Welcome to Our AI CNN Model</h1>
            <p>Discover our latest model that can help you detect and extract text from Handwritten images.</p>
        </section>

        <section class="models" id="allmodels">
            <div class="model-tile">
                <img src="static\images\handwriting.png" alt="Detection Image" class="icon-image">
                <h3>Handwriting Recognition</h3>
                <p>Extract text easily from images with Handwritten images.</p>
                <section class="cta">
                    <button class="cta-btn"><a href="/handwriting-ocr">Try it</a></button>
                </section>
            </div>

        </section>

    </div>
</body>

</html>
