<!DOCTYPE html>

<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>HandWritingRecognizer - {% block title %} {% endblock %}</title>

  <meta name="author" content="Platol">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="Minimal Blog HTML Template">

  <link rel="shortcut icon" href="static/images/handwriten.png" type="image/x-icon">
  <!-- <img src="static/images/handwriten.png" alt="" srcset=""> -->

  <!-- CSS Plugins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Work+Sans:wght@500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="static/assets/css/style.css">
  <link rel="stylesheet" href="static/assets/css/animation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap-grid.min.css" integrity="sha512-ZuRTqfQ3jNAKvJskDAU/hxbX1w25g41bANOVd1Co6GahIe2XjM6uVZ9dh0Nt3KFCOA061amfF2VeL60aJXdwwQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <!-- logo -->
          <a class='navbar-brand font-weight-bold mb-0' href='{{ url_for("index")}}' title='Qurno'>
            <img class="img-fluid" width="50" height="35" src="static/images/handwriten.png" alt="handwriten"/>
          </a>

          <!-- <button class="search-toggle d-inline-block d-lg-none ms-auto me-1 me-sm-3" data-toggle="search" aria-label="Search Toggle">
            <span>Search</span>
            <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>
           -->
           {% if session['loginid'] %}
           <div class="dropdown  d-inline-block d-lg-none ms-auto ">
            <a class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hello
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
           {% else %}
           <a href="{{url_for('login')}}" type="button" class=" d-inline-block d-lg-none ms-auto  btn btn-primary text-white">Login</a>
           {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 menu-open"></i>
            <i class="ti ti-x menu-close"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class='nav-link' href='{{ url_for("index") }}'>Home</a>
              </li>
              <li class="nav-item @@about">
                <a class='nav-link' href='{{ url_for("ocrHandwriting") }}'>HandWriting OCR</a>
              </li>
              <li class="nav-item @@elements">
                <a class='nav-link' href='{{url_for("edaAnalysis") }}'>EDA Analysis</a>
              </li>
           
            
            </ul>
            
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                  {% if session['loginid'] %}
                  <div class="dropdown  d-sm-none d-lg-inline-block ms-auto ">
                    <a class="btn btn-primary dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hello
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Your History</a>
                      <a class="dropdown-item btn btn-primary text-white" href="{{url_for('logout')}}"><i class="ti ti-logout"></i> Logout</a>
                    </div>
                  </div>
                  {% else %}
                  <a href="{{url_for('login')}}" class="btn btn-primary text-white" >Login</a>

                  {% endif %}
                </li>
              </ul>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="search-block">
  <div data-toggle="search-close">
    <span class="ti ti-x text-primary"></span>
  </div>
  
  <input type="text" id="js-search-input" placeholder="Type to search blog.." aria-label="search-query">

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">See posts by tags</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Life</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Lifestyle</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Lighting</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Machine</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Startups</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class='small' href='/qurno/tag-single'>Work</a>
      </li>
    </ul>
  </div>

  <div class="mt-4 card-meta">
    <p class="h4 mb-3">See posts by categories</p>
    <ul class="card-meta-tag list-inline">
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">AI</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">Earth</a>
      </li>
      <li class="list-inline-item me-1 mb-2">
        <a class="small" href="categorie-single.html">Tech</a>
      </li>
    </ul>
  </div>
</div>

<!-- banner start -->
<section style="min-height: 75vh;" class="section banner overflow-hidden">
  <div class="container">
    <div class="row">
      {% block content %}

      {% endblock %}
    
    </div>
  </div>
</section>
<!-- banner end -->


<!-- start of footer -->
<footer>
  <div class="container">
   
    <div class="pb-5">
      <div class="row g-2 g-lg-4 align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
          <p class="mb-0 copyright-text content">Make in India &#10084;&#65039;</p>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-inline footer-menu">
            <li class="list-inline-item m-0"><span>Send Feedback at: <a href="mailto:mayekarprathu42@gmail.com">mayekarprathu42@gmail.com</a></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- end of footer -->

<!-- JS Plugins -->
<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="static/plugins/lightense/lightense.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Main Script -->
<script src="static/assets/js/script.js"></script>
<script src="static/js/upload.js"></script

</body></html>